@import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline|Bungee+Inline|Bungee+Outline|Bungee+Shade");

body {
    background-color: #59192b;
	font-family: 'Proxima Nova','Rubik'; 
	
}

/* Navigation */ 
.topnav {
    overflow: hidden;
	font-size: 17px;
}

.topnav a {
	float: left;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

.topnav a.active {
	color: white;
}

.topnav-right {
	float: right;
	padding-right: 30px;
	font-weight: 3;
	padding-top: 14px;
}
#logo-name { 
	font-size: 30px; 
	color: white;
	font-family: bungee;
	margin:0;
	padding:0;
	letter-spacing: 3px;
}

.topnav-left {
	float: left; 
	padding-left: 30px;
}

#involved {
	border: 1.5px solid white;
	border-radius: 100px;
}

.page-content {
	text-align: center;
}

.content {
	color: #fff;
	text-align: center;
}

.content p{
	line-height: 0.5;
}

.content2 {
	display:inline-block;
	background-color: #fff;
	text-align: left;
	border-radius: 20px;
	padding: 20px;
	margin: 30px;
	width: 80%;
}

.content2 h1, h2, h3{
	color: #59192b;
}

/* About Page */
#mission {
	font-family: Courier;
	text-align: center;
	font-weight: bolder;
	font-size: 17;
	color: #59192b;
}

.team{
	display:inline-block;
	border-radius: 20px;
	padding: 20px;
	margin: 30px;
	width: 80%;
	text-align: center;
	background-color: #59192b;
	color: #fff;
}

.team img {
	margin-top: 20px;
	width: 90%;
}

/* Chapter Slideshow */
.slide img {
	width: 80%;
}

.mySlides {
	display:none
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer
}

.w3-badge {
	height:13px;
	width:13px;
	padding:0
}

/* Footer */

.footer {
	background-color: #fff;
	width: 99%;
	padding: 5px;
}

.footer-content {
	margin-left:10%;
	display: inline-block;
	line-height: 0.7;
}

.footer-links {
	float: right;
	line-height: 0.3;
	text-align: right;
	font-weight: 900;
	margin-right: 10%;
	text-decoration: none;
}
.footer-links a{
	text-decoration: none;
	color: black;
}

.footer-social {
	margin-left:10%;
	text-decoration: none;
}
.footer-social img {
	text-decoration: none;
	height: 20px;
	width: 20px;
}